<!-- HEADER -->
<header id="header" class="header">
    <div class="container">

        <!-- LOGO -->
        <div class="logo"><a href="/"><img src="/images/logo.png" alt=""></a></div>
        <!-- END / LOGO -->

        <!-- NAVIGATION -->
        <nav class="navigation">

            <div class="open-menu">
                <span class="item item-1"></span>
                <span class="item item-2"></span>
                <span class="item item-3"></span>
            </div>

            <!-- MENU -->
            <ul class="menu">
                <li class="current-menu-item"><a href="/">Home</a></li>
                <li class="current-menu-item"><a href="#">Courses</a></li>
                <li class="current-menu-item"><a href="#">About</a></li>
                <li class="current-menu-item"><a href="#">Contact</a></li>
            </ul>
            <!-- END / MENU -->

            <!-- SEARCH BOX -->
            <div class="search-box">
                <i class="icon md-search"></i>
                <div class="search-inner">
                    <form>
                        <input type="text" placeholder="key words">
                    </form>
                </div>
            </div>
            <!-- END / SEARCH BOX -->

            <!-- LIST ACCOUNT INFO -->
            <ul class="list-account-info">
                <li class="list-item account">
                  <a href="/users/login">Login</a>
                    <!-- <div class="account-info item-click">
                        <img src="images/team-13.jpg" alt="">
                    </div>
                    <div class="toggle-account toggle-list">
                        <ul class="list-account">
                            <li><a href="setting.html"><i class="icon md-config"></i>Setting</a></li>
                            <li><a href="login.html"><i class="icon md-arrow-right"></i>Sign Out</a></li>
                        </ul>
                    </div> -->
                </li>

                <li class="list-item account">
                  <a href="/users/signup">Signup</a>
                </li>


            </ul>
            <!-- END / LIST ACCOUNT INFO -->

        </nav>
        <!-- END / NAVIGATION -->

    </div>
</header>
<!-- END / HEADER -->
