<!-- COURSE CONCERN -->
<section id="course-concern" class="course-concern">
    <div class="container">

      <div class="price-course">
          <i class="icon md-database"></i>
          <h3>This is course title...</h3>
          <div class="create-coures">
              <a href="#" class="mc-btn btn-style-1">Preview</a>
              <!-- <a href="#" class="mc-btn btn-style-5">Request Payment</a> -->
          </div>

      </div>
    </div>
</section>
<!-- END / COURSE CONCERN -->
