<!-- COURSE CONCERN -->
<section id="course-concern" class="course-concern">
    <div class="container">

        <div class="price-course">
            <i class="icon md-database"></i>
            <h3>My Total Courses </h3>
            <span>32</span>
            <div class="create-coures">
                <a href="/courses/add" class="mc-btn btn-style-1">Create new course</a>
                <!-- <a href="#" class="mc-btn btn-style-5">Request Payment</a> -->
            </div>

        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <!-- MC ITEM -->
                <div class="mc-teaching-item mc-item mc-item-2">
                    <div class="image-heading">
                        <img src="/images/feature/img-1.jpg" alt="">
                    </div>
                    <div class="meta-categories"><a href="#">Web design</a></div>
                    <div class="content-item">
                        <div class="image-author">
                            <img src="/images/avatar-1.jpg" alt="">
                        </div>
                        <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top Seller</a></h4>
                    </div>
                    <div class="ft-item">
                        <div class="rating">
                            <a href="#" class="active"></a>
                            <a href="#" class="active"></a>
                            <a href="#" class="active"></a>
                            <a href="#"></a>
                            <a href="#"></a>
                        </div>
                        <div class="view-info">
                            <i class="icon md-users"></i>
                            2568
                        </div>
                        <div class="price">
                            $190
                        </div>
                    </div>

                    <div class="edit-view">
                        <a href="/courses/edit" class="edit">Edit</a>
                        <a href="/courses/content" class="view">Content</a>
                    </div>
                </div>
                <!-- END / MC ITEM -->
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3">
                <!-- MC ITEM -->
                <div class="mc-teaching-item mc-item mc-item-2">
                    <div class="image-heading">
                        <img src="/images/feature/img-1.jpg" alt="">
                    </div>
                    <div class="meta-categories"><a href="#">Web design</a></div>
                    <div class="content-item">
                        <div class="image-author">
                            <img src="/images/avatar-1.jpg" alt="">
                        </div>
                        <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top Seller</a></h4>
                    </div>
                    <div class="ft-item">
                        <div class="rating">
                            <a href="#" class="active"></a>
                            <a href="#" class="active"></a>
                            <a href="#" class="active"></a>
                            <a href="#"></a>
                            <a href="#"></a>
                        </div>
                        <div class="view-info">
                            <i class="icon md-users"></i>
                            2568
                        </div>
                        <div class="price">
                            $190
                        </div>
                    </div>

                    <div class="edit-view">
                      <a href="/courses/edit" class="edit">Edit</a>
                      <a href="/courses/addContent" class="view">Content</a>
                    </div>
                </div>
                <!-- END / MC ITEM -->
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3">
                <!-- MC ITEM -->
                <div class="mc-teaching-item mc-item mc-item-2">
                    <div class="image-heading">
                        <img src="/images/feature/img-1.jpg" alt="">
                    </div>
                    <div class="meta-categories"><a href="#">Web design</a></div>
                    <div class="content-item">
                        <div class="image-author">
                            <img src="/images/avatar-1.jpg" alt="">
                        </div>
                        <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top Seller</a></h4>
                    </div>
                    <div class="ft-item">
                        <div class="rating">
                            <a href="#" class="active"></a>
                            <a href="#" class="active"></a>
                            <a href="#" class="active"></a>
                            <a href="#"></a>
                            <a href="#"></a>
                        </div>
                        <div class="view-info">
                            <i class="icon md-users"></i>
                            2568
                        </div>
                        <div class="price">
                            $190
                        </div>
                    </div>

                    <div class="edit-view">
                      <a href="/courses/edit" class="edit">Edit</a>
                      <a href="/courses/addContent" class="view">Content</a>
                    </div>
                </div>
                <!-- END / MC ITEM -->
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3">
                <!-- MC ITEM -->
                <div class="mc-teaching-item mc-item mc-item-2">
                    <div class="image-heading">
                        <img src="/images/feature/img-1.jpg" alt="">
                    </div>
                    <div class="meta-categories"><a href="#">Web design</a></div>
                    <div class="content-item">
                        <div class="image-author">
                            <img src="/images/avatar-1.jpg" alt="">
                        </div>
                        <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top Seller</a></h4>
                    </div>
                    <div class="ft-item">
                        <div class="rating">
                            <a href="#" class="active"></a>
                            <a href="#" class="active"></a>
                            <a href="#" class="active"></a>
                            <a href="#"></a>
                            <a href="#"></a>
                        </div>
                        <div class="view-info">
                            <i class="icon md-users"></i>
                            2568
                        </div>
                        <div class="price">
                            $190
                        </div>
                    </div>

                    <div class="edit-view">
                      <a href="/courses/edit" class="edit">Edit</a>
                      <a href="/courses/addContent" class="view">Content</a>
                    </div>
                </div>
                <!-- END / MC ITEM -->
            </div>

        </div>
    </div>
</section>
<!-- END / COURSE CONCERN -->
