<!DOCTYPE html>
<html>
  <% include ../partials/head %>

  <body id="page-top" class="home">
  <div id="page-wrap">
    <% include ../partials/header %>

    <%- body %>

    <% include ../partials/footer %>
    <%- script %>
  </div>
  </body>
</html>
