<!-- COURSE CONCERN -->
<section id="course-concern" class="course-concern">
    <div class="container">
      <div class="price-course">
          <i class="icon md-database"></i>
          <h3>Courses Learning </h3>
      </div>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <!-- MC ITEM -->
                <div class="mc-learning-item mc-item mc-item-2">
                    <div class="image-heading">
                        <img src="/images/feature/img-1.jpg" alt="">
                    </div>
                    <div class="meta-categories"><a href="#">Web design</a></div>
                    <div class="content-item">
                        <div class="image-author">
                            <img src="/images/avatar-1.jpg" alt="">
                        </div>
                        <h4><a href="course-intro.html">Advanced Tactics with Hoot Suite Pro</a></h4>
                        <div class="name-author">
                            By <a href="#">Name of Mr or Mrs</a>
                        </div>
                    </div>
                    <div class="ft-item">
                        <div class="percent-learn-bar">
                            <div class="percent-learn-run"></div>
                        </div>
                        <div class="percent-learn">100%<i class="fa fa-trophy"></i></div>
                        <a href="#" class="learnnow">Learn now<i class="fa fa-play-circle-o"></i></a>
                    </div>
                </div>
                <!-- END / MC ITEM -->
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3">
                <!-- MC ITEM -->
                <div class="mc-learning-item mc-item mc-item-2">
                    <div class="image-heading">
                        <img src="/images/feature/img-1.jpg" alt="">
                    </div>
                    <div class="meta-categories"><a href="#">Web design</a></div>
                    <div class="content-item">
                        <div class="image-author">
                            <img src="/images/avatar-1.jpg" alt="">
                        </div>
                        <h4><a href="course-intro.html">Advanced Tactics with Hoot Suite Pro</a></h4>
                        <div class="name-author">
                            By <a href="#">Name of Mr or Mrs</a>
                        </div>
                    </div>
                    <div class="ft-item">
                        <div class="percent-learn-bar">
                            <div class="percent-learn-run"></div>
                        </div>
                        <div class="percent-learn">75%</div>
                        <a href="#" class="learnnow">Learn now<i class="fa fa-play-circle-o"></i></a>
                    </div>
                </div>
                <!-- END / MC ITEM -->
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3">
                <!-- MC ITEM -->
                <div class="mc-learning-item mc-item mc-item-2">
                    <div class="image-heading">
                        <img src="/images/feature/img-1.jpg" alt="">
                    </div>
                    <div class="meta-categories"><a href="#">Web design</a></div>
                    <div class="content-item">
                        <div class="image-author">
                            <img src="/images/avatar-1.jpg" alt="">
                        </div>
                        <h4><a href="course-intro.html">Advanced Tactics with Hoot Suite Pro</a></h4>
                        <div class="name-author">
                            By <a href="#">Name of Mr or Mrs</a>
                        </div>
                    </div>
                    <div class="ft-item">
                        <div class="percent-learn-bar">
                            <div class="percent-learn-run"></div>
                        </div>
                        <div class="percent-learn">100%<i class="fa fa-trophy"></i></div>
                        <a href="#" class="learnnow">Learn now<i class="fa fa-play-circle-o"></i></a>
                    </div>
                </div>
                <!-- END / MC ITEM -->
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3">
                <!-- MC ITEM -->
                <div class="mc-learning-item mc-item mc-item-2">
                    <div class="image-heading">
                        <img src="/images/feature/img-1.jpg" alt="">
                    </div>
                    <div class="meta-categories"><a href="#">Web design</a></div>
                    <div class="content-item">
                        <div class="image-author">
                            <img src="/images/avatar-1.jpg" alt="">
                        </div>
                        <h4><a href="course-intro.html">Advanced Tactics with Hoot Suite Pro</a></h4>
                        <div class="name-author">
                            By <a href="#">Name of Mr or Mrs</a>
                        </div>
                    </div>
                    <div class="ft-item">
                        <div class="percent-learn-bar">
                            <div class="percent-learn-run"></div>
                        </div>
                        <div class="percent-learn">0%</div>
                        <a href="#" class="learnnow">Learn now<i class="fa fa-play-circle-o"></i></a>
                    </div>
                </div>
                <!-- END / MC ITEM -->
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3">
                <!-- MC ITEM -->
                <div class="mc-learning-item mc-item mc-item-2">
                    <div class="image-heading">
                        <img src="/images/feature/img-1.jpg" alt="">
                    </div>
                    <div class="meta-categories"><a href="#">Web design</a></div>
                    <div class="content-item">
                        <div class="image-author">
                            <img src="/images/avatar-1.jpg" alt="">
                        </div>
                        <h4><a href="course-intro.html">Advanced Tactics with Hoot Suite Pro</a></h4>
                        <div class="name-author">
                            By <a href="#">Name of Mr or Mrs</a>
                        </div>
                    </div>
                    <div class="ft-item">
                        <div class="percent-learn-bar">
                            <div class="percent-learn-run"></div>
                        </div>
                        <div class="percent-learn">90%</div>
                        <a href="#" class="learnnow">Learn now<i class="fa fa-play-circle-o"></i></a>
                    </div>
                </div>
                <!-- END / MC ITEM -->
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3">
                <!-- MC ITEM -->
                <div class="mc-learning-item mc-item mc-item-2">
                    <div class="image-heading">
                        <img src="/images/feature/img-1.jpg" alt="">
                    </div>
                    <div class="meta-categories"><a href="#">Web design</a></div>
                    <div class="content-item">
                        <div class="image-author">
                            <img src="/images/avatar-1.jpg" alt="">
                        </div>
                        <h4><a href="course-intro.html">Advanced Tactics with Hoot Suite Pro</a></h4>
                        <div class="name-author">
                            By <a href="#">Name of Mr or Mrs</a>
                        </div>
                    </div>
                    <div class="ft-item">
                        <div class="percent-learn-bar">
                            <div class="percent-learn-run"></div>
                        </div>
                        <div class="percent-learn">45%</div>
                        <a href="#" class="learnnow">Learn now<i class="fa fa-play-circle-o"></i></a>
                    </div>
                </div>
                <!-- END / MC ITEM -->
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3">
                <!-- MC ITEM -->
                <div class="mc-learning-item mc-item mc-item-2">
                    <div class="image-heading">
                        <img src="/images/feature/img-1.jpg" alt="">
                    </div>
                    <div class="meta-categories"><a href="#">Web design</a></div>
                    <div class="content-item">
                        <div class="image-author">
                            <img src="/images/avatar-1.jpg" alt="">
                        </div>
                        <h4><a href="course-intro.html">Advanced Tactics with Hoot Suite Pro</a></h4>
                        <div class="name-author">
                            By <a href="#">Name of Mr or Mrs</a>
                        </div>
                    </div>
                    <div class="ft-item">
                        <div class="percent-learn-bar">
                            <div class="percent-learn-run"></div>
                        </div>
                        <div class="percent-learn">30%</div>
                        <a href="#" class="learnnow">Learn now<i class="fa fa-play-circle-o"></i></a>
                    </div>
                </div>
                <!-- END / MC ITEM -->
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3">
                <!-- MC ITEM -->
                <div class="mc-learning-item mc-item mc-item-2">
                    <div class="image-heading">
                        <img src="/images/feature/img-1.jpg" alt="">
                    </div>
                    <div class="meta-categories"><a href="#">Web design</a></div>
                    <div class="content-item">
                        <div class="image-author">
                            <img src="/images/avatar-1.jpg" alt="">
                        </div>
                        <h4><a href="course-intro.html">Advanced Tactics with Hoot Suite Pro</a></h4>
                        <div class="name-author">
                            By <a href="#">Name of Mr or Mrs</a>
                        </div>
                    </div>
                    <div class="ft-item">
                        <div class="percent-learn-bar">
                            <div class="percent-learn-run"></div>
                        </div>
                        <div class="percent-learn">10%</div>
                        <a href="#" class="learnnow">Learn now<i class="fa fa-play-circle-o"></i></a>
                    </div>
                </div>
                <!-- END / MC ITEM -->
            </div>

        </div>
    </div>
</section>
<!-- END / COURSE CONCERN -->
