<!-- LOGIN -->
<section id="login-content" class="login-content">
    <div class="awe-parallax bg-login-content"></div>
    <div class="awe-overlay"></div>
    <div class="container">
        <div class="row">



            <!-- FORM -->
            <div class="col-lg-4 pull-right">
              <% if(messages.error) { %>
                        <div class="alert alert-danger" style="<%= messages.error ? 'margin-top:20px;' : 'display: none' %>"><strong><%= messages.error ? messages.error[0] : '' %></strong></div>
                        <% } %>

                        <% if(messages.success) { %>
                          <div class="alert alert-success" style="<%= messages.success ? 'margin-top:20px;' : 'display: none' %>"><strong><%= messages.success ? messages.success[0] : '' %></strong></div>
                <% } %>
                <div class="form-login">
                    <form id="signupForm" method="Post" action="/users/signup">
                        <h2 class="text-uppercase">sign up</h2>
                        <div class="form-fullname">
                            <input class="first-name" name="firstName" type="text" placeholder="First name" required="required">
                            <input class="last-name" name="lastName" type="text" placeholder="Last name" required="required">
                        </div>
                        <div class="form-datebirth">
                            <input type="number" name="phone" placeholder="Phone number" required="required">
                        </div>
                        <div class="form-email">
                            <input type="email" name="email" placeholder="Email" required="required">
                        </div>
                        <div class="form-password">
                            <input type="password" name="password" placeholder="Enter strong password" required="required">
                        </div>

                        <div class="form-submit-1">
                            <input type="submit" value="Become a member" class="mc-btn btn-style-1">
                        </div>
                        <div class="link">
                            <a href="/users/login">
                                <i class="icon md-arrow-right"></i>Already have account ? Log in
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END / FORM -->

            <div class="image">
                <img src="/images/homeslider/img-thumb.png" alt="">
            </div>

        </div>
    </div>
</section>
<!-- END / LOGIN -->
